$primaryColor: rgb(17, 84, 19);
$secondaryColor: Blue;
$textColor:rgb(106, 0, 255);
$buttonHeight: 50px;
$buttonWidth: 70px;
$buttonColor:Gold;
$borderThickness: 2px;
$buttonHoverColor:red;
$buttonBorderColor: Black;
$modalFontSize: 25px;