    
	
	    label{
			font-size: medium;
			color: blue;
			width: 5px;
			
		}
			
		body{
			background-color: black;
			height: 25%;
			width: 45%;
			margin: 150px;
			margin-left: 300px;
			margin: center;
			
		}
		h1{
			color: gold;
			font: Georgia;
			text-align: center;
			
		}
		
		input{
		    border: 2px solid black;
			border-radius: 20px;
			margin: 10px;
			margin-left: 30px;
			font: Georgia;
			
		}
        select{
			margin-left: 20px;
			border: 2px solid black;
			border-radius: 5px;
		}
		textarea {
			border: 2px solid black;
			border-radius: 20px;
			
		}	
        #Bleu{
			background-color: white;
			padding: 50px;
			margin-left: 100px;
			border: 10cqb;
			border-radius: 15cqb;
		}
		.Nums input{
			margin: 1px
			
		}
		.Top input{
			margin-left: 9.5%;
		}